.userview {
    height: 100vh;
    backdrop-filter: blur(15px);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.userview-container{
    height: 80%;
    width: 40%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.667);
    border-radius: 5px;
    border: 2px solid rgb(3, 36, 125);
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: column;
}
.userview-container img{
    max-height: 200px;
    border: 1px solid rgb(0, 0, 177);
    margin-top: 40px;
}
.userview-container-info{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 90%;
}